body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1DB954;
    padding: 15px 30px;
}

.logo h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #1DB954;
}

main {
    padding: 20px 30px;
    min-height: calc(100vh - 140px); /* Ajuste la hauteur pour que le footer soit toujours en bas */
    background-color: #181818;
}

.content {
    max-width: 400px;  /* a voir pour mettre une val fixe */
    margin: 0 auto;
    background-color: #282828;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #181818;
    color: #b3b3b3;
    text-align: center;
    padding: 15px 30px;
    border-top: 1px solid #282828;
}

footer p {
    margin: 0;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    color: #FFFFFF;
    border: 1px solid #555;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #1DB954;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#inputTrack {
    color: white;
    padding: 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

input[type="submit"]:hover, .add_user_button:hover {
    background-color: #17a44f;
}

/**  ADD TRACK **/


details summary {
    cursor: pointer;
    padding: 5px;
    /*background-color: #f3f3f3;*/
    border-radius: 5px;
}
details[open] summary {

}

details {
    margin: auto auto auto 1%;
    width: fit-content;
}

#form-add-track{
    margin-left: 2%;
}

.playlists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 25px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.playlists-container a{
    flex: 1 1 1%; /* 3 colonnes */
    min-width: 280px;
    max-width: 300px;
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #e7e7e7;
    text-decoration: none;
    font-weight: bold;
}

.playlists-container a:hover {
    color: #ffffff;
}

.playlist audio {
    width: 100%;
    margin-top: 10px;
    background-color: #404040;
    border-radius: 5px;
}


/* PLAYLIST EN GRAND */

/* Colonne gauche */
#playlist-content {
    /*flex: 1; !* Prend 50% de l'espace *!*/
    min-width: 350px;
    max-width: 40%;
    margin-right: 47%;
    margin-left: 2%;
}

/* Colonne droite */
.form-actions {
    /*flex: 1;*/
    max-width: 380px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    min-width: 355px;
    margin-right: 3%;
}

@media (max-width: 1850px) {
    #playlist-content {
        margin-right: 44%;
    }
}

@media (max-width: 1715px) {
    #playlist-content {
        margin-right: 40%;
    }
}

@media (max-width: 1600px) {
    #playlist-content {
        margin-right: 36%;
    }
}

@media (max-width: 1500px) {
    #playlist-content {
        margin-right: 32%;
    }
}

@media (max-width: 1410px) {
    #playlist-content {
        margin-right: 26%;
    }
}

@media (max-width: 1300px) {
    #playlist-content {
        margin-right: 22%;
    }
}

@media (max-width: 1250px) {
    #playlist-content {
        margin-right: 18%;
    }
}

@media (max-width: 1200px) {
    #playlist-content {
        margin-right: 14%;
    }
}

@media (max-width: 1120px) {
    #playlist-content {
        margin-right: 8%;
    }
}

@media (max-width: 1030px) {
    #playlist-content {
        margin-right: 5%;
    }
}

@media (max-width: 1000px) {
    #playlist-content {
        margin-right: 0%;
    }
}

@media (max-width: 900px) {
    .form-actions {
        min-width: 1px;
    }

    .form-add-track input {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .form-actions {
        display: none;
    }

    .form-add-track input {
        width: 100%;
    }
}

/* Style pour le formulaire d'ajout de musique en haut */
.ajout-musique {
    margin-bottom: 20px; /* Espace avec l'autre formulaire */
}

/* Style pour le bouton de suppression en bas */
.supp-button button {
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.supp-button button:hover {
    background-color: darkred;
}

/*Pour la bande du menu*/
@media (max-width: 530px) {
    #acceuil {
        display: none;
    }
}
@media (max-width: 470px) {
    #playlist a, #add a, #log a {
        font-size: 0.97em;
    }
}